*{
    margin: 0px;
    padding: 0px;
}
section{
    width: 100%;
}
.main{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
article{
    flex-basis: 30%;
    margin: 1%;
}
article img{
    width: 100%;
}
h2{
    font-size: 20px;
    padding: 5px;
    text-align: left;
}
p{
    font-size: 20px;
    line-height: 26px;
    padding: 10px;
}